# [ zrfisaac ]

# [ about ]
# - author : Isaac Santana
# . - email : zrfisaac@gmail.com
# . - site : zrfisaac.github.io
# - base : none
# - description : none
# - version : zrfisaac.gitignore - 0.0.3

# [ gitignore ]

# : - binary
*.exe
*.dll
*.iso
*.msi
*.zip

# : - zrfisaac
_*
